<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head class="h-100">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Admin Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.10.1/css/all.css}" />
<style>
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.footer {
	background-color: #f5f5f5;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.input-icons i {
	position: absolute;
}

.input-icons {
	width: 100%;
	margin-bottom: 10px;
}

.icon {
	padding: 10px;
	min-width: 40px;
}

.input-field {
	width: 100%;
	padding: 10px 10px 13px 35px;
}
</style>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
			<a class="navbar-brand" href="#">IIHT-IBM</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav ml-auto">

				<li class="nav-item"><a class="nav-link" href="#">Welcome <span
						sec:authentication="name"></span>
				</a></li>
				<li sec:authorize="hasAuthority('ADMIN')" class="nav-item"><a
					class="nav-link" th:href="@{/admin/main}">Admin</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/accountupdate}">Account Update</a></li>

				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>
			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<h4 class="mt-5">
					Welcome <span sec:authentication="name">
				</h4>
				Roles: <span sec:authentication="principal.authorities"></span>
				<p sec:authorize="hasAuthority('ADMIN')">This content is only
					shown to administrators.</p>
				<p sec:authorize="hasAuthority('ADMIN')">
					<a class="nav-link" th:href="@{/main}">Go back to the main page</a>
				</p>
			</div>
		</div>
	</div>
	</main>
</body>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
</html>